Trellendar/Trellendar.Logic/TimeZones/TimeZones.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="supplementalData">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="version">
          <xs:complexType>
            <xs:attribute name="number" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="generation">
          <xs:complexType>
            <xs:attribute name="date" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="windowsZones">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="mapTimezones">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="mapZone">
                      <xs:complexType>
                        <xs:attribute name="other" type="xs:string" use="required" />
                        <xs:attribute name="territory" type="xs:string" use="required" />
                        <xs:attribute name="type" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="otherVersion" type="xs:string" use="required" />
                  <xs:attribute name="typeVersion" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>